body{
    background-color: rgb(36, 35, 49);
}

#tabla{
    border: solid rgb(255, 255, 255);
}

#columna{
    border: solid white;
    background-color: rebeccapurple;
}

#peticion:hover{
    background-color: royalblue;
}
#foto:hover{
    background-color: rgb(62, 65, 75);
}

#cabecera{
    background-color: rgb(161, 183, 255);
    width: 1000px;
}